.form-group,
.form-group-inline {

    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    

}

.form-group-inline {

    flex-direction: row;

}

.form-group input,
.form-group select,
.form-group textarea {

    padding: 12px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--primary);
    background-color: var(--white);
    font-family: var(--font-content);
    font-size: 14px;
    color: var(--secondary);

}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {

    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 5px var(--primary);

}

.form-group button {

    background-color: var(--primary);
    color: var(--secondary);
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-content);
    border: none;
    transition: all 0.3s ease;

}

.form-group button:hover {

    background-color: var(--secondary);
    color: var(--white);

}

/* Mensagens de validação */
.form-text {
    font-size: 12px;
    margin-top: 4px;
    font-family: var(--font-content);
}
