:root {
  --primary: #d18bb8;
  --secondary: #401e36;
  --light: #f2f2f2;
  --light-pink: #f2e4ed;
  --black: #000000;
  --white: #ffffff;
  --shadow: rgba(64, 30, 54, 0.7);
  --font-size: 14pt;
  --font-title: "Parisienne, cursive";
  --font-content: "Roboto Flex, sans-serif";
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-content);
  background-color: var(--light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}
