.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--white);
    width: 100%;

}

.footer-credit {
    font-size: 0.9rem;
    font-family: var(--font-content);
    
}

.footer-credit p {
    margin: 0;
    
    
}
